.shelf-books-list {
  text-align: left;
  width: 750px;
  table-layout: fixed;
  border-spacing: 2px;
  border-collapse: collapse;
  box-sizing: content-box;
}

thead {
  border-bottom: 2px solid rgb(235, 232, 213);
  line-height: 18px;
}

th {
  font-size: 12px;
  font-weight: 700;
  color: #382110;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: bottom;
}

.shelf-show-item {
  display: table-row;
  width: 750px;
}

.shelf-show-item p {
  margin: 0;
}

.shelf-show-cell {
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: table-cell;
  padding: 12px 5px 5px 0;
  margin: 0;
  vertical-align: text-top;
  word-wrap: break-word;
}

.shelf-show-link {
  color: #00635d;
  text-decoration: none;
}

.shelf-show-link:hover {
  text-decoration: underline;
}

.shelf-show-cover {
  width: 50px;
}

.shelf-show-item .shelf-show-cover {
  height: 79px;
}

.shelf-show-title {
  width: 25%;
}

.shelf-show-author {
  width: 86px;
}

.shelf-show-avg-rating {
  width: 46px;
}

.shelf-show-rating {
  width: 86px;
}

.shelf-show-shelves {
  width: 59px;
}

.shelves-by-book {
  display: flex;
  flex-direction: column;
}

.shelf-show-date-added {
  width: 50px;
}