.book-show-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 970px;
  margin: 0px auto;
  margin-top: 15px;
}

.book-show-top {
  display: flex;
  align-items: space-between;
}

.book-show-top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px; 
  margin: 0 20px 10px 0;
}

.book-show-top-middle {
  display: flex;
  flex-direction: column;
  width: 455;
  margin-bottom: 10px;
  align-items: flex-start;
}

.book-show-title {
  font-family: "Merriweather", "Georgia", serif;
  font-weight: bold;
  color: #333333;
  font-size: 24px;
  line-height: 1.25;
  padding-bottom: 2px;
}

.book-show-author {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #181818;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 8px;
}

.book-show-author p {
  margin: 0;
}

.book-show-avg-rating {
  margin-bottom: 10px;
  font-size: 12px;
}

.book-show-synopsis {
  font-family: "Merriweather", "Georgia", serif;
  color: #181818;
  font-size: 14px;
  line-height: 21px;
}