.book-show-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 970px;
  margin: 0px auto;
  margin-top: 15px;
}

.book-show-main-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-show-top {
  display: flex;
  align-items: space-between;
  margin-bottom: 10px;
}

.book-show-top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px; 
  margin: 0 20px 10px 0;
}

.book-show-cover {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.book-show-cover img {
  max-width: 150px;
  box-shadow: 0px 5px 5px rgb(221, 221, 221);
}

.book-show-read-status-container {
  display: flex;
}

.book-show-read-status-box {
  border: 1px solid rgb(221, 221, 221);
  padding: 7px 0 7px 8px;
  width: 105px;
  height: 13px;
  font-size: 13px;
  background: #f2f2f2;
  border-color: #dddddd;
  color: #181818;
  line-height: 100%;
  text-overflow: ellipsis;
  box-sizing: content-box;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin-bottom: 4px;
}

.default-shelf-active {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #181818;
  line-height: 100%;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.read-status-dropdown-button {
  background-color: #409D69;
  background-image: image-url('dropdown_arrow.png');
  color: #fff;
  font-size: 13px;
  padding: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-left: 1px solid #38883d;
  box-sizing: content-box;
  width: 28px;
  height: 28px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 8px 4px;
  cursor: pointer;
  position: relative;
  bottom: 1px;
  outline: none;
}

.dropdown-container {
  position: relative;
  right: 36px;
  bottom: 8px;
}

.dropdown-open {
  display: block;
  width: 180px;
  background: #ffffff;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  max-height: 250;
  vertical-align: top;
  transition: max-height 0.15s ease-out;
  position: absolute;
  top: 1px;
  z-index: 100;
}

.dropdown-hidden {
  display: none;
}

.read-status-dropdown-shelves {
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #cccccc;
  box-shadow: 0 3px 4px -3px rgba(0,0,0,0.5);
  list-style: none;
  overflow: hidden;
  padding-bottom: 2px;
  padding-left: 0;
  color: #181818;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 2px 0;
}

.read-status-dropdown-shelves li {
  padding-left: 15px;
}

.read-status-dropdown-shelves li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.main-rating-header {
  box-sizing: content-box;
  font-size: 11px;
  height: 16px;
  line-height: 14px;
  margin: 0 auto;
  padding: 3px 6px 0 6px;
  width: 100px;
  color: #999999;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: center;
}

.book-show-top-middle {
  display: flex;
  flex-direction: column;
  width: 455;
  margin-bottom: 10px;
  align-items: flex-start;
}

.book-show-title {
  font-family: "Merriweather", "Georgia", serif;
  font-weight: bold;
  color: #333333;
  font-size: 24px;
  line-height: 1.25;
  padding-bottom: 2px;
}

.book-show-author {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #181818;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 8px;
}

.book-show-author p {
  margin: 0;
}

.book-show-avg-rating {
  margin-bottom: 10px;
  font-size: 12px;
}

.book-show-synopsis {
  font-family: "Merriweather", "Georgia", serif;
  color: #181818;
  font-size: 14px;
  line-height: 21px;
}

.book-show-my-activity {
  display: flex;
  flex-direction: column;
  width: 970px;
}

.my-activity-header {
  margin-bottom: 10px;
  padding: 2px 0;
  border-bottom: 1px solid #D8D8D8;
  width: 100%;
  height: 24px;
  font-size: 12px;
  color: #382110;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
  font-weight: bold;
}

.my-activity-row {
  display: flex;
  font-size: 14px;
  padding: 4px 0;
  vertical-align: top;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
  color: #181818;
}

.my-activity-subheader {
  width: 125px;
}

.my-activity-content {
  width: 970px - 125px;
}

.my-activity-review-body {
  font-family: "Merriweather", "Georgia", serif;
  line-height: 21px;
  font-size: 14px;
  color: #181818;
}

.my-activity-review-link {
  color: #00635d;
  text-decoration: none;
  cursor: pointer;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.my-activity-review-link:hover {
  text-decoration: underline;
}