.main-masthead {
  height: 294px;
  box-sizing: content-box;
}

.logged-out-masthead {
  height: 294px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logged-out-splash-message {
  width: 446px;
  height: 116px;
  display: flex;
  align-items: center;
  color: brown;
  font-size: 36px;
}

.logged-out-masthead .session-form-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
}

.logged-out-masthead .session-input {
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  width: 270px;
  height: 19px;
  padding: 5px 7px;
  margin: 2px;
  font-size: 13px;
  font-weight: lighter;
}