header {
  display: flex;
  justify-content: center;
}

.navbar-loggedout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 65px;
  width: 970px;
  padding-top: 10px;
}

.navbar-loggedin-container {
  background-color: #F4F1EA;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-loggedin {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 50px;
  width: 970px;
  padding-top: 0px;
}

.logo {
  display: flex;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 45px;
  align-self: flex-start;
  position: relative;
  bottom: 10px;
}

.logged-in-logo {
  display: flex;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 35px;
}

.navbar-logo-1 {
  color: #6E5D4E;
}

.navbar-logo-2 {
  color: #462F1F;
}

.logo-logged-in {
  width: 150px;
  height: 50px;
}

.navbar-container img {
  align-self: center;
}

.session-form-box {
  padding: 5px 0;
}

.navbar-container .session-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.navbar-container .session-input {
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  width: 120px;
  height: 16px;
  padding: 5px;
  margin: 2px;
  font-size: 13px;
}

.navbar-container .session-submit {
  width: 41px;
  height: 14px;
  padding: 8px 12px;
  margin: 1px;
  box-sizing: content-box;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  color: white;
  font-size: 14px;
  background-color: #382110;
  border: 1px solid #382110;
  border-radius: 3px;
}

.logged-in-header {
  display: flex;
  font-weight: normal;
}

.navbar-text-button {
  color: #382110;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 50px;
  height: 50px;
  white-space: nowrap;
  padding: 0 30px;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
}

.navbar-text-button:hover {
  color: #FFFFFF;
  background-color: #382110;
}

.navbar-search-bar {
  width: 620px;
  height: 32px;
  margin-top: 9px;
  margin-right: 8px;
  margin-left: 15px;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  color: #333333;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.logout-button-container {
  align-self: center;
}

.logout-button {
  cursor: pointer;
  width: 41px;
  height: 14px;
  padding: 8px 12px;
  margin: 1px;
  box-sizing: content-box;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  color: white;
  font-size: 14px;
  background-color: #382110;
  border: 1px solid #382110;
  border-radius: 3px;
}