.active-shelf-rating span {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-size: 15px;
    text-align: center;
}

.active-shelf-rating .hover {
    background-image: image-url('star-on.png');
    background-size: 15px;
    width: 15px;
    height: 15px;
}

.active-shelf-rating {
  display: flex;
  flex-direction: row-reverse;
  width: 75px;
}

  .active-star {
    background-image: image-url('star-on.png');
  }

  .inactive-star {
    background-image: image-url('star-off.png');
  }